<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button type="button" name="button" onclick="autenticar()">INGRESAR</button>
    <button type="button" name="button" onclick="retornaToken()">VER TOKEN</button>
    <label id="label1">estado</label>

    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script>
    // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAgpcndOPW3Yk7pprbxZyQp1Oq_ln9Y0vw",
        authDomain: "python-project-de5a9.firebaseapp.com",
        databaseURL: "https://python-project-de5a9.firebaseio.com",
        projectId: "python-project-de5a9",
        storageBucket: "python-project-de5a9.appspot.com",
        messagingSenderId: "317892618679"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
      function autenticar() {
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider);
        document.getElementById("label1").innerHTML=logueado en este momento;
      }

      function retornaToken(){
        firebase.auth().currentUser.getToken(/* forceRefresh */ true).then(function(idToken) {
          document.getElementById("label1").innerHTML=idToken;
        }).catch(function(error) {
          alert('error retornandolo');
        });
      }
    </script>
  </body>
</html>
